$blue: #eff6ff;
$gray: #71717a;

.calendar {
    margin: 20px auto 0;
    overflow: scroll;
    padding-bottom: 10px;
    // font-family: "Martel", sans-serif;
    @media screen and (max-width: 500px) {
        padding-top: 20px;
        padding-left: 10px;
    }
}
.fc-highlight {
    background: rgba(147, 196, 125, 1) !important;
    // border-radius: 5px;
}
.fc-day-today {
    background-color: $blue !important;
    @media screen and (max-width: 500px) {
        background-color: #fff !important;
    }
}

.fc-timegrid-slot-label {
    border: none !important;
}
.fc-timegrid-axis {
    border-bottom: none !important;
}

.calendar tbody tr {
    height: 34px;
    border-bottom: 0.5px dotted rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 500px) {
        border: none;
        height: 3.5vh;
    }
}
.fc-timegrid-slot-label {
    font-size: 12px;
    color: $gray;
}

.fc .fc-timegrid-slot-minor {
    border: none !important;
}

.fc-scrollgrid {
    border: none !important;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
    box-shadow: none !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border-left: none;
    border-right: none;
}

.fc .fc-timegrid-slot-label {
    vertical-align: top;
}

@media screen and (min-width: 500px) {
    .fc-scrollgrid-section-header tbody tr {
        height: 50px;
    }

    .fc-col-header-cell {
        // border: none!important;
        div {
            width: 100%;
            font-weight: 400;
        }
    }
    .fc-theme-standard td,
    .fc-theme-standard th {
        border: none;
        // border: 1px solid rgba(0, 0, 0, 0.2)
        border-right: 1px solid #c2c2c2;
        border-bottom: 1px solid #c2c2c2;
        @media screen and (max-width: 500px) {
            border: none;
        }
    }

    .fc-col-header-cell-cushion {
        font-weight: bold;
        color: #303030;
        height: 64px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.my {
    background-color: rgb(147, 196, 125);
    border: none;
    padding-left: 5px;
    padding-top: 5px;
    @media screen and (max-width: 500px) {
        background-color: rgba(147, 196, 125, 0.4);
        width: 500px !important;
    }
    .fc-event-time,
    .fc-event-title {
        // color: black;
        line-height: 120%;
        @media screen and (max-width: 500px) {
            margin-left: 5px;
            font-weight: 500;
            font-size: 12px;
            color: rgb(130, 173, 110);
        }
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(147, 196, 125, 1);
        border-radius: 4px 0px 0px 4px;
    }
}

.busy {
    @apply bg-primary;
    border: none;
    padding-left: 5px;
    padding-top: 5px;
    @media screen and (max-width: 500px) {
        @apply bg-opacity-50;
        width: 500px !important;
    }
    .fc-event-time,
    .fc-event-title {
        font-size: 12px;
        line-height: 120%;
        @media screen and (max-width: 500px) {
            margin-left: 5px;
            font-weight: 500;
            @apply text-primary;
        }
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 100%;
        left: 0;
        top: 0;
        @apply bg-primary;
        border-radius: 4px 0px 0px 4px;
    }
}

@media screen and (min-width: 500px) {
    .fc-timegrid-slots tr:nth-child(odd) td:nth-child(2) {
        padding-top: 10px;
        border-top: 0.5px solid #c2c2c2 !important;
    }
}

@media screen and (max-width: 500px) {
    .fc-view-harness.fc-view-harness-active
        > div
        > table
        > thead
        > tr
        > td
        > div
        > div
        > table
        > colgroup,
    .fc-view-harness.fc-view-harness-active
        > div
        > table
        > thead
        > tr
        > td
        > div
        > div
        > table
        > tbody
        > tr
        > th.fc-timegrid-axis {
        border: none;
    }
    .fc-col-header-cell-cushion {
        margin-bottom: 10px;
    }
    .fc-header-toolbar {
        display: none !important;
    }
    .calendar {
        padding: 0;
        margin: 0;
    }
    .fc-theme-standard {
        width: 100vw !important;
    }
}

.fc-button {
    background: #6997ff !important;
    border: #6997ff !important;
}
