.container {
    display: grid;
    gap: 30px;
    grid-template-areas:
        'Slider Slider Slider'
        'Balance History History';
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0 40px 0;
    max-width: 1440px;
}
.container > .itemsBox {
    grid-area: Slider;
}
.Slick {
    overflow: hidden;
    .items {
        position: relative;
        border-radius: 16px;
        background: #fff;
        padding-bottom: 120px;
        border: 1px solid #c6c6c6;
        margin-bottom: 10px;
        .countLessons {
            font-size: 24px;
            font-weight: 500;
            line-height: 65px;
            border-radius: 16px 16px 0 0;
            text-align: center;
            color: #fff;
        }
        .typeOfPrise {
            font-size: 15px;
            margin-bottom: 35px;
        }
        .priceBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 49px;
            margin-bottom: 23px;
            span {
                font-size: 50px;
            }
            p {
                font-size: 24px;
                margin-top: 10px;
            }
            .price {
                font-size: 50px;
                margin-top: 0;
                margin-left: 10px;
            }
        }
        .itemsInfo {
            padding: 0 10px;
            font-size: 14px;
            .Info {
                text-align: center;
            }
        }
        button {
            position: absolute;
            cursor: pointer;
            display: flex;
            bottom: 42px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 8px 0 7px 0;
            width: 63px;
            color: #fff;
            margin: 0 auto 0 auto;
            border-radius: 16px;
            display: block;
            transition: all 0.3s;
            font-size: 15px;
        }
        button:hover {
            opacity: 0.8;
        }
    }
}
.itemsBox {
    display: grid;
    grid-column-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    overflow: auto;
    .items {
        min-width: 250px;
        position: relative;
        border-radius: 16px;
        background: #fff;
        padding-bottom: 120px;
        .countLessons {
            font-size: 24px;
            font-weight: 500;
            line-height: 65px;
            border-radius: 16px 16px 0 0;
            text-align: center;
            color: #fff;
        }
        .typeOfPrise {
            font-size: 15px;
            margin-bottom: 35px;
        }
        .priceBlock {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 49px;
            margin-bottom: 23px;
            span {
                font-size: 50px;
            }
            p {
                font-size: 24px;
                margin-top: 10px;
            }
            .price {
                font-size: 50px;
                margin-top: 0;
                margin-left: 10px;
            }
        }
        .itemsInfo {
            padding: 0 10px;
            font-size: 14px;
            .Info {
                text-align: center;
            }
        }
        button {
            position: absolute;
            cursor: pointer;
            display: flex;
            bottom: 42px;
            left: 50%;
            transform: translate(-50%, 0);
            padding: 8px 0 7px 0;
            width: 63px;
            color: #fff;
            margin: 0 auto 0 auto;
            border-radius: 16px;
            display: block;
            transition: all 0.3s;
            font-size: 15px;
        }
        button:hover {
            opacity: 0.8;
        }
    }
}

.firstPadding {
    padding-left: 0;
}
.lastPadding {
    padding-right: 0;
}
.container > .balance {
    grid-area: Balance;
    color: #000000;
    text-align: center;
    background: #fff;
    padding: 40px 30px 60px 30px;
    width: 100%;
    text-align: center;
    .balanceTitle {
        font-size: 24px;
    }
    .balanceFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -23px;
        .balanceLesson {
            margin-top: 120px;
        }
    }
    .countLessons {
        font-size: 144px;
        color: #303030;
        line-height: 188px;
    }
    .buttonBuy {
        width: 100%;
        background: #5a8df9;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        padding: 8px 0 7px 0;
        cursor: pointer;
        transition: all 0.3s;
        margin-top: -16px;
    }
    .buttonBuy:hover {
        opacity: 0.8;
    }
}
.container > .history {
    grid-area: History;
    height: 320px;
    overflow: auto;
}
@media screen and (max-width: 1024px) {
    .container {
        grid-column-gap: 22px;
        .balance {
            padding: 30px 10px;
            .balanceFlex {
                .countLessons {
                    font-size: 130px;
                }
            }
        }
    }
    .balance {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
        grid-template-areas:
            'Balance'
            'Slider'
            'History';
        grid-template-columns: 1fr;
        .itemsBox {
            grid-template-columns: 1fr;
            .items {
                margin-bottom: 10px;
            }
        }
        .balance {
            width: 100%;
        }
    }
}
