.container {
    background: #fff;
    padding: 30px 50px 30px 30px;
    position: relative;
    .navigation {
        .navTitle {
            display: flex;
            justify-content: space-between;
            .points {
                display: flex;
                align-items: center;
                height: 45px;
                .allUsers {
                    font-size: 20px;
                    font-weight: 600;
                    color: #333333;
                    padding: 0 25px;
                    border-right: 1px solid#C6C6C6;
                    height: 17px;
                    display: flex;
                    align-items: center;
                }
                .totalUsers {
                    color: rgba(0, 0, 0, 0.5);
                    font-size: 15px;
                    font-weight: 600;
                    padding: 0 25px;
                }
                .inactive {
                    font-weight: 600;
                    padding: 0 23px 0 2px;
                    color: #333333;
                    font-size: 15px;
                    border-right: 1px solid#C6C6C6;
                }
            }
            .additionalFeatures {
                margin-bottom: 5px;
                display: flex;
                div {
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #5a8df9;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                div:first-child {
                    margin-right: 5px;
                }
            }
        }
    }
    .navigation::after {
        content: '';
        display: block;
        width: 100%;
        border: 0.5px solid#C6C6C6;
        margin-top: -1px;
    }
    table {
        width: 100%;
        thead {
            border-bottom: 1px solid #c6c6c6;
            tr {
                height: 48px;
                .name {
                    width: 45%;
                    text-align: start;
                    padding-left: 25px;
                    font-weight: 600;
                    font-size: 15px;
                    position: relative;
                    color: rgba(0, 0, 0, 0.5);
                }
                .name::after {
                    content: '';
                    display: block;
                    width: 17px;
                    height: 2px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-50% 0);
                    transform: rotate(-90deg);
                    background: #c6c6c6;
                }
                .role {
                    width: 200px;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 600;
                    text-align: start;
                    padding-left: 25px;
                    position: relative;
                }
                .role::after {
                    content: '';
                    display: block;
                    width: 17px;
                    transform: rotate(-90deg);
                    position: absolute;
                    right: 0;
                    height: 2px;
                    top: 50%;
                    transform: translate(-50% 0);
                    transform: rotate(-90deg);
                    background: #c6c6c6;
                }
                .price {
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.5);
                    font-weight: 600;
                    text-align: start;
                    padding-left: 25px;
                }
            }
        }
        tbody {
            width: 100%;
            tr {
                border-bottom: 1px solid #c6c6c6;
                .nameList {
                    display: flex;
                    align-items: center;
                    margin: 20px 0 12px 0;
                    img {
                        border-radius: 50%;
                        margin-right: 10px;
                        margin-left: 25px;
                        width: 45px;
                    }
                    div {
                        h2 {
                            font-weight: 500;
                            font-size: 19px;
                            letter-spacing: 0.005em;
                        }
                        p {
                            color: rgba(0, 0, 0, 0.5);
                            letter-spacing: 0.005em;
                            font-size: 14px;
                        }
                    }
                    .active {
                        margin-left: 70px;
                        color: #5a8df9;
                    }
                }
                .regular {
                    div {
                        background: rgba(217, 235, 252, 0.8);
                        width: 100px;
                        height: 26px;
                        border-radius: 12px;
                        text-align: center;
                        font-size: 13px;
                        line-height: 18px;
                        padding: 4px 0;
                        color: #000000;
                    }
                }
                .newUser {
                    div {
                        background: rgba(209, 237, 223, 0.8);
                        width: 100px;
                        height: 26px;
                        border-radius: 12px;
                        text-align: center;
                        font-size: 13px;
                        line-height: 18px;
                        padding: 4px 0;
                        color: #000000;
                    }
                }
                .admin {
                    div {
                        background: #333333;
                        width: 100px;
                        height: 26px;
                        border-radius: 12px;
                        text-align: center;
                        font-size: 13px;
                        line-height: 18px;
                        padding: 4px 0;
                        color: #000000;
                        color: #fff;
                    }
                }
                .deleteButton {
                    img {
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
                .edit {
                    img {
                        cursor: pointer;
                        transition: 0.2s;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                }
                .selectPrice {
                    font-size: 15px;
                    font-weight: 700;
                }
                .setPrice {
                    color: #5a8df9;
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 0.2s all;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
.ModalPrice {
    width: 314px;
    img {
        width: 40%;
        margin: 20px auto;
    }
    .modalName {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #303030;
    }
    .priceText {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 32px;
        margin-bottom: 5px;
    }
    .inputPrice {
        position: relative;
        border: 1px solid #c6c6c6;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: 14px;
        padding-left: 12px;
        width: 100%;
        height: 35px;
    }
    .modalButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 71px;
        background: #5a8df9;
        border-radius: 8px;
        margin: 32px 0 32px auto;
        color: #ffffff;
        font-size: 15px;
        font-weight: 500;
    }
}
