$black: #303030;

.header {
    width: 100%;
    height: 65px;
    // background: aqua;
    border-bottom: 1px solid #c6c6c6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 60px;
    @media screen and (max-width: 500px) {
        padding: 0px 20px;
    }
    .title {
        font-size: 24px;
    }
    .user_info {
        display: flex;
        align-items: center;
        .avatar {
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $black;
        }
        .username {
            font-size: 15px;
            margin-left: 10px;
        }
    }
}

.active {
    @apply text-primary;
    pointer-events: none;
    img {
        filter: invert(48%) sepia(98%) saturate(350%) hue-rotate(186deg) brightness(101%)
            contrast(103%);
    }
}
