/* martel-200 - latin */
@font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 200;
    src: url('martel-v5-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''), url('martel-v5-latin-200.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('martel-v5-latin-200.woff2') format('woff2'),
        /* Super Modern Browsers */ url('martel-v5-latin-200.woff') format('woff'),
        /* Modern Browsers */ url('martel-v5-latin-200.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('martel-v5-latin-200.svg#Martel') format('svg'); /* Legacy iOS */
}
/* martel-regular - latin */
@font-face {
    font-family: 'Martel';
    font-style: normal;
    font-weight: 400;
    src: url('martel-v5-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''), url('martel-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */ url('martel-v5-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */ url('martel-v5-latin-regular.woff') format('woff'),
        /* Modern Browsers */ url('martel-v5-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('martel-v5-latin-regular.svg#Martel') format('svg'); /* Legacy iOS */
}
