$black: #303030;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.button {
  border: 1px solid #303030;
  background: none;
  font-family: 'Manrope', sans-serif;
  color: $black;
  padding: 5px 20px 5px 20px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 15px;
}

.button:hover {
  color: white;
  background: $black;
}