.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 18vw 1fr;
    column-gap: 30px;
    background: linear-gradient(103.84deg, #f9f9f9 7.3%, #eaecf1 100%);
    @media screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        background: #fff;
    }
    .content {
        padding-right: 30px;
        padding-top: 10px;
        position: relative;
        @media screen and (max-width: 767px) {
            & {
                padding: 0;
            }
        }
    }
}
