.editContainer {
    max-width: 900px;
    .peoplePhoto {
        width: 80px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .editTitle {
        margin-bottom: 2rem;
        text-align: center;
        color: #303030;
        font-weight: 600;
        font-size: 18px;
    }
    .editFlex {
        display: flex;
        flex-wrap: wrap;
        div {
            width: 45%;
            margin-right: 24px;
            margin-bottom: 16px;
            p {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 7px;
            }
            .Field {
                width: 100%;
                border: 1px solid #c6c6c6;
                border-radius: 8px;
            }
        }
        .rateBox {
            border-radius: 8px 0 0 8px;
            span {
                display: flex;
                .Field {
                    border-radius: 8px 0 0 8px;
                    margin-right: 0;
                }
                select {
                    border: 1px solid #c6c6c6;
                    border-radius: 0 8px 8px 0;
                    height: 40px;
                }
            }
        }
    }
    .buttonBox {
        text-align: center;
        margin-top: 16px;
        .button {
            padding: 7px 17px;
            border-radius: 8px;
            background: #5a8df9;
            color: #fff;
            cursor: pointer;
            transition: all 0.3s;
        }
        .button:hover {
            opacity: 0.8;
        }
    }
    .Field {
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px) {
    .editContainer {
        .editFlex {
            div {
                width: 100%;
            }
        }
    }
}
