.history {
    background: #fff;
    padding: 18px 50px 0 50px;
    overflow: auto;
    height: 100%;
    position: relative;
    .heading {
        font-size: 24px;
        font-weight: 600;
        height: 38px;
        margin-bottom: 13px;
        color: #4e4f53;
    }
    .historyTitle {
        display: grid;
        grid-template-columns: 1fr 323px 1fr;
        width: 100%;
        border-bottom: 1px solid #c6c6c6;
        padding-bottom: 13px;
        color: rgba(0, 0, 0, 0.5);
        font-weight: 600;
        font-size: 15px;
        div {
            border-right: 1px solid #c6c6c6;
        }
        div:last-child {
            border-right: none;
        }
        .historyDate {
            padding: 0 30px 0 45px;
        }
        .historyVendor {
            padding: 0 232px 0 40px;
        }
        .historyAmount {
            align-items: flex-end;
            padding: 0 35px 0 25px;
        }
    }
}
.transactionHistory {
    display: grid;
    grid-template-columns: 1fr 323px 1fr;
    margin: 15px 0;
    .transactionDate {
        padding: 0 30px 0 35px;
        .date {
            font-size: 13px;
        }
        .dateMeridian {
            font-size: 12px;
            margin-left: 3px;
        }
    }
    .transactionVendor {
        display: flex;
        padding: 0 0 0 10px;
        width: 320px;
        .transactionData {
            margin-left: 15px;
            h2 {
                font-weight: 500;
                color: #000000;
                letter-spacing: 0.005em;
                line-height: 19px;
            }
            p {
                color: rgba(0, 0, 0, 0.5);
                font-size: 12px;
                letter-spacing: 0.005em;
            }
        }
    }
    .transactionAmount {
        padding: 0 0 0 30px;
        font-weight: 700;
        font-size: 15px;
        white-space: nowrap;
    }
}
@media screen and (max-width: 1200px) {
    .history {
        padding: 32px 5px 0 10px;
        .historyTitle {
            grid-template-columns: 1fr 280px 1fr;
            .historyVendor {
                padding-right: 150px;
            }
            .historyAmount {
                padding-right: 20px;
            }
        }
    }
    .transactionHistory {
        grid-template-columns: 1fr 280px 1fr;
        .transactionVendor {
            width: 240px;
            .transactionData {
                h2 {
                    font-size: 13px;
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .history {
        .historyTitle {
            grid-template-columns: 1fr 270px 1fr;
            .historyDate {
                padding: 0 15px 0 10px;
            }
            .historyVendor {
                padding: 0 110px 0 20px;
            }
            .historyAmount {
                padding: 0 5px 0 10px;
            }
        }
    }
    .transactionHistory {
        grid-template-columns: 1fr 270px 1fr;
        .transactionDate {
            padding: 0 10px 0 5px;
        }
        .transactionAmount {
            padding-left: 10px;
        }
    }
}
@media screen and (max-width: 850px) {
    .history {
        padding: 32px 5px 0 5px;
        .historyTitle {
            grid-template-columns: 1fr 210px 1fr;
            font-size: 13px;
            .historyDate {
                padding: 0 25px 0 5px;
            }
            .historyVendor {
                padding-right: 25px;
            }
            .historyAmount {
                padding: 0 0 0 10px;
            }
        }
        .transactionHistory {
            grid-template-columns: 1fr 220px 1fr;
            .transactionDate {
                padding: 0 0 0 10px;
                .date {
                    font-size: 12px;
                }
                .dateMeridian {
                    font-size: 10px;
                    margin-left: 3px;
                }
            }
            .transactionVendor {
                display: block;
                width: 170px;
                padding: 0;
                img {
                    margin: 0 auto;
                }
                .transactionData {
                    margin-left: 0;
                    text-align: center;
                }
            }
            .transactionAmount {
                padding-left: 10px;
                white-space: nowrap;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .history {
        padding: 32px 5px 0 5px;
        .historyTitle {
            grid-template-columns: 1fr 420px 1fr;
        }
        .transactionHistory {
            grid-template-columns: 1fr 420px 1fr;
            .transactionVendor {
                display: flex;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .history {
        padding: 32px 5px 0 5px;
        .historyTitle {
            grid-template-columns: 1fr 320px 1fr;
        }
        .transactionHistory {
            grid-template-columns: 1fr 320px 1fr;
        }
    }
}
@media screen and (max-width: 500px) {
    .history {
        padding: 32px 5px 0 5px;
        .historyTitle {
            grid-template-columns: 1fr 220px 1fr;
        }
        .transactionHistory {
            grid-template-columns: 1fr 220px 1fr;
        }
    }
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    font-weight: 500;
    font-size: 20px;
}
