$black: #303030;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

.field {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid;
  font-family: "Manrope", sans-serif;
  color: $black;
  outline: none;
}
