$black: #303030;

.title {
  @apply text-2xl text-primary;
}

.nav {
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding-top: 10px;
    @media screen and (max-width: 500px) {
      & {
        width: 60%;
        position: fixed;
        right: 0;
        z-index: 999999;
        height: 100vh;
      }
    }
  .logo {
    width: 100%;
    padding-left: 10%;
    margin-top: 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 100%;
    }
    @media screen and (max-width: 500px) {
      & {
        display: none;
      }
    }
  }
  .content {
    padding: 0px 10% 0px 10%;
    .links {
      padding-inline-start: 0px;
      margin-top: 40px;
      li {
        list-style: none;
        margin-top: 30px;
        &.disabled {
          pointer-events: none;
          opacity: 0.2;
        }
        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          color: $black;
          font-size: 16px;
          font-weight: 400;
          &.active {
            @apply text-primary;
            // font-weight: 500;
            pointer-events: none;
            img {
              filter: invert(48%) sepia(98%) saturate(350%) hue-rotate(186deg) brightness(101%) contrast(103%);
            }
          }
        }
      }
    }
    
  }
}
