.modalTitle {
    font-weight: 500;
    font-size: 24px;
    color: #5a8df9;
    letter-spacing: -0.005em;
    margin-bottom: 34px;
    text-align: center;
}
.modalGrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
    grid-column-gap: 65px;
    p {
        font-size: 13px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 5px;
    }
    .modalItem {
        padding: 0px 30px;
    }
    .input {
        width: 100%;
        font-size: 14px;
        height: 36px;
        input,
        select {
            background: none;
        }
    }
}
.inviteButtonBox {
    display: flex;
    justify-content: center;
    .inviteButton {
        width: 200px;
        background: #5a8df9;
        border-radius: 8px;
        padding: 10px 17px 10px 17px;
        margin-top: 44px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
    }
}
@media screen and (max-width: 767px) {
    .modalGrid {
        grid-template-columns: 1fr;
    }
}
