@import url('./assets/fonts/Futura/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
    @apply text-black;
}
html {
    font-size: 16px;
}

.header {
    font-family: 'Martel';
    background: url('./assets/img/CharlesHeader.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    color: white;
    .containerHeader {
        width: 100%;
        padding: 3.5rem 5rem;
        .navigation {
            display: flex;
            justify-content: space-between;
            .logoBox {
                width: 6.5675rem;
                cursor: pointer;
                transition: all 0.3s;
            }
            .logoBox:hover {
                opacity: 0.8;
            }
            .login {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6.4rem;
                height: 2.5rem;
                border: 1px solid #6997ff;
                color: #6997ff;
                cursor: pointer;
                transition: all 0.2s;
                font-weight: 300;
                font-size: 0.875rem;
                line-height: 0.866rem;
            }
            .login:hover {
                opacity: 0.7;
            }
        }
        .pronunciation {
            font-size: 2.625rem;
            margin-top: 7.4375rem;
            line-height: 150%;
        }
        .name {
            line-height: 130%;
            font-size: 1.5rem;
            margin-top: 3.8125rem;
        }
        .work {
            font-size: 1.125rem;
            line-height: 130%;
            margin-top: 1rem;
        }
    }
}
.description {
    font-family: 'Martel';
    height: 100vh;
    padding-top: 12.5rem;
    min-height: 740px;
    color: #303030;
    .descFlex {
        display: flex;
        justify-content: center;
        .features {
            border: 1px solid #303030;
            border-right: none;
            width: 21.8125rem;
            height: 31.25rem;
            padding-right: 0.875rem;
            padding-top: 2.5rem;
            margin-right: 8.625rem;
            display: flex;
            justify-content: flex-end;
            .featuresCount {
                font-size: 13.75rem;
                font-weight: 250;
                line-height: 128%;
                width: 16.4375rem;
            }
            .featuresText {
                font-size: 1.3rem;
                text-align: right;
            }
        }
        .advantages {
            width: 36.5rem;
            .advantagesTitle {
                letter-spacing: 1.5%;
                margin-bottom: 3.1875rem;
                .largeTitle {
                    font-size: 3rem;
                }
                .smallTitle {
                    font-size: 2.25rem;
                }
            }
            ul {
                font-family: 'Rubik';
                list-style: outside;
                text-transform: capitalize;
                line-height: 170%;
                margin-left: 2rem;
                font-weight: 300;
                font-size: 1.125rem;
            }
        }
    }
}
.register {
    font-family: 'Rubik';
    height: 100vh;
    padding-top: 12.5rem;
    padding-bottom: 8.9375rem;
    min-height: 740px;
    color: #303030;
    .registerFlex {
        display: flex;
        justify-content: center;
        .instruction {
            margin-top: 5rem;
            margin-right: 2.9375rem;
            width: 24.6875rem;
            .instructionTitle {
                font-family: 'Martel';
                font-size: 1.875rem;
                letter-spacing: -0.005em;
                margin-bottom: 3.75rem;
            }
            ol {
                list-style-type: decimal;
                letter-spacing: -0.005em;
                font-weight: 300;
                font-size: 1.125rem;
                margin-left: 1.12rem;
                li {
                    margin-bottom: 0.8rem;
                }
            }
        }
        .registration {
            margin-top: 2.9375rem;
            border: 1px solid #303030;
            padding: 2.5rem 3.125rem;
            .registrationTitle {
                font-family: 'Martel';
                font-size: 1.875rem;
                letter-spacing: -0.005em;
                width: 26.375rem;
                margin-bottom: 3.3125rem;
            }
            div {
                margin-bottom: 3rem;
            }
            .formButton {
                margin-bottom: 0;
            }
        }
    }
}
.contact {
    font-family: 'Rubik';
    height: 100vh;
    padding-top: 8.3125rem;
    min-height: 740px;
    color: #303030;
    .contactFlex {
        display: flex;
        justify-content: center;
        .contactPhotoParth {
            width: 31.25rem;
            height: 34.375rem;
            img {
                width: 31.25rem;
                height: 34.375rem;
            }
        }
        .contactBox {
            margin-left: 7.125rem;
            .contactTitle {
                font-family: 'Martel';
                font-size: 3rem;
                letter-spacing: 0.04em;
                padding-bottom: 2.5rem;
            }
            .contactData {
                position: relative;
                border: 1px solid #303030;
                border-right: none;
                padding: 3.6875rem 0 3.45rem 2.125rem;
                width: 21.8125rem;
                .whatsappLink {
                    color: #4f72bf;
                    transition: all 0.2s;
                }
                .whatsappLink:hover {
                    opacity: 0.7;
                }
                h3 {
                    font-size: 1.875rem;
                    letter-spacing: 0.015em;
                    text-transform: capitalize;
                    margin-bottom: 2rem;
                }
                p {
                    font-size: 1.125rem;
                    font-weight: 300;
                    margin-bottom: 0.5625rem;
                    margin-top: 0.5625rem;
                    letter-spacing: 0.065em;
                }
                .country {
                    margin-bottom: 0.875rem;
                    text-transform: capitalize;
                }
                .socialIcons {
                    display: flex;
                    justify-content: end;
                    margin-top: 0.8125rem;
                    div {
                        img {
                            margin-bottom: 1.25rem;
                            transition: all 0.3s;
                        }
                        img:hover {
                            opacity: 0.7;
                        }
                    }
                }
                .socialIconsBoxMobile {
                    display: none;
                    justify-content: end;
                    margin-top: 0.8125rem;
                    div {
                        img {
                            margin-bottom: 1.25rem;
                            transition: all 0.3s;
                        }
                        img:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }
}
.footer {
    background: #000;
    .footerContainer {
        max-width: 60.25rem;
        margin: 0 auto;
        padding: 3.375rem 2rem 1.4375rem 2rem;
        .footerFlex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .footerLogo {
                width: 9.5rem;
                cursor: pointer;
                transition: all 0.3s;
            }
            .footerLogo:hover {
                opacity: 0.8;
            }
            .socialIconsBox {
                display: flex;
                a {
                    margin-right: 1.25rem;
                    img {
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                    img:hover {
                        opacity: 0.7;
                    }
                }
            }
            .registrationLink {
                cursor: pointer;
                transition: all 0.3s;
                img {
                    margin: 0 auto;
                }

                p {
                    font-family: 'Manrope';
                    color: #5a8df9;
                    line-height: 170%;
                    margin-top: 0.3125rem;
                    cursor: pointer;
                }
            }
            .registrationLink:hover {
                opacity: 0.7;
            }
        }
        .footerLine {
            width: 100%;
            border: 0.75px solid #c6c6c6;
            margin-top: 2.125rem;
            margin-bottom: 0.4375rem;
        }
        .corporation {
            font-family: 'Manrope';
            font-size: 0.875rem;
            display: flex;
            justify-content: center;
            color: #fff;
        }
    }
}
@media screen and (max-width: 1100px) {
    .description {
        .descFlex {
            .features {
                width: 18rem;
            }
            .advantages {
                width: 33rem;
            }
        }
    }
}
@media screen and (max-width: 980px) {
    .description {
        padding-top: 5rem;
        height: 100%;
        min-height: 0;
        .descFlex {
            .features {
                display: none;
            }
            .advantages {
                width: 26rem;
            }
        }
    }
    .register {
        height: 100%;
        padding-top: 5rem;
        padding-bottom: 0;
        .registerFlex {
            display: block;
            margin-left: 2rem;
            margin-right: 2rem;
            .instruction {
                margin: 0 auto;
                margin-bottom: 4rem;
            }
        }
    }
    .contact {
        padding-top: 5rem;
        .contactFlex {
            .contactPhotoParth {
                display: none;
            }
            .contactBox {
                width: 100%;
                margin-left: 2rem;
                margin-right: 2rem;
                .contactData {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .header {
        background-position: 55% 0;
        .containerHeader {
            padding-left: 1.75rem;
            padding-right: 1.75rem;
            .pronunciation {
                font-size: 1.875rem;
                width: 14.25rem;
            }
            .name {
                font-size: 1.25rem;
            }
            .work {
                font-size: 1rem;
                margin-top: 0;
            }
        }
    }
    .description {
        padding-top: 3.6875rem;
        .descFlex {
            justify-content: start;
            margin-left: 1.75rem;
            .advantages {
                .advantagesTitle {
                    margin-bottom: 1.5625rem;
                    .largeTitle {
                        font-size: 1.25rem;
                        line-height: 1.124rem;
                    }
                    .smallTitle {
                        font-size: 1.25rem;
                        line-height: 1.124rem;
                    }
                }
                ul {
                    font-size: 1rem;
                    line-height: 1.286rem;
                }
            }
        }
    }
    .register {
        padding-top: 4.0625rem;
        .registerFlex {
            margin-left: 1.75rem;
            .instruction {
                margin-bottom: 3rem;
                margin-left: 0;
                width: 100%;
                .instructionTitle {
                    font-size: 1.25rem;
                    margin-bottom: 1.5625rem;
                }
                ol {
                    font-size: 1rem;
                }
            }
            .registration {
                padding: 2.28rem 2.0625rem 2.7625rem 2.0625rem;
                .registrationTitle {
                    font-size: 1.25rem;
                    width: 100%;
                }
            }
        }
    }
    .contact {
        padding-top: 3.5rem;
        min-height: 0;
        max-height: 500px;
        .contactFlex {
            .contactBox {
                margin-left: 1.75rem;
                .contactTitle {
                    font-size: 1.25rem;
                    padding-bottom: 0.8125rem;
                }
                .contactData {
                    padding: 2.25rem 0 4.3125rem 1.6875rem;
                    h3 {
                        font-size: 1.25rem;
                    }
                    p {
                        font-size: 1rem;
                    }
                    .country {
                        font-size: 1.125rem;
                    }
                    .socialIcons {
                        display: none;
                    }
                    .socialIconsBoxMobile {
                        display: flex;
                        position: absolute;
                        right: 0;
                        bottom: 4.0625rem;
                    }
                }
            }
        }
    }
    .footer {
        .footerContainer {
            padding: 2.3125rem 4.6875rem;
            .footerFlex {
                display: block;
                text-align: center;
                .footerLogo {
                    img {
                        margin: 0 auto 2.3125rem auto;
                    }
                }
                .socialIconsBox {
                    justify-content: center;
                    margin-bottom: 2.3125rem;
                }
            }
            .footerLine {
                margin-top: 3.0625rem;
                margin-bottom: 0.625rem;
            }
            .corporation {
                text-align: center;
            }
        }
    }
}
